.button {
    padding: 19px 32px;
    border: none;
    border-radius: 5px;
    color: #FFF;
    text-transform: uppercase;
    font-family: $fontPrimary;
    cursor: pointer;
}

.button-style-2 {
    padding: 13px 24px;
}

.button--primary {
    background-color: #4F77FF;
}

.button--block {
    width: 100%;
    text-transform: uppercase;
}

.button-circle {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button-circle:hover {
    box-shadow: 0px 5px 20px rgba(18, 2, 47, 0.15)
}

.button-circle__triangle {
    width: 0px;
    height: 0px;
    border-bottom: 7.5px solid transparent;
    border-top: 7.5px solid transparent;
    border-left: 12px solid #4F77FF;
}