.logos {
    text-align: center;
}

.section-title {
    font-family: $fontPrimary;
    font-size: 36px;
    font-weight: 500;
    color: #000000;
    letter-spacing: -1px;
    width: 100%;
    text-align: center;
}

.logo-group {
    padding-top: 70px;
}