.portfolio-image {
    padding-bottom: 20px;
}

.portfolio-image-box__image {
    width: 100%;
    padding-bottom: 29px;
}

.portfolio-image-box__title {
    font-size: 18px;
    font-family: $fontPrimary;
    letter-spacing: -1px;
    color: #4F77FF;
}